* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-001: rgb(7, 155, 241);
    --color-002: rgb(222, 76, 27);
    --color-003:  rgb(127, 238, 179);
    --item-shadow: rgba(50, 50, 93, 0.25) 1px 2px 15px 1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

body {
    font-family: 'Poppins', 'sans-serif';
    font-weight: 500;
}


a {
    text-decoration: none;
    display: inline-block;
}

.gap-5 {
    gap: 0px;
}

.gap-10 {
    gap: 10px;
}

.gap-30 {
    gap: 30px;
}


.main-content-splitter {
    color: rgb(145, 143, 143);
}

.header-class {
    position: sticky;
    top: 0;
    z-index: 100;
    height: 7rem;
}

.green {
    color: var(--color-003);
}



/* NAVBAR STYLING */

.navbar {
    padding: 25px 0;
    transition: padding 0.4s ease;
}

#logo {
    width: 100%;
    height: auto;
}

.navbar-brand {
    width: 75px;
    height: auto;
}

.nav-links {
    list-style: none;
}


.nav-links  a {
    text-decoration: none;
    color: black;
    font-weight: 300;
    transition: color 0.3s ease-in-out;
}

.nav-links  a:hover {
    text-decoration: none;
    color: var(--color-001);
}


/* MAIN TITLE SECTION */

.title-container {
    padding: 5rem;
}

.main-title .title-name {
    font-size: 60px;
    padding-top: 30px;
    max-width: 100%;
    font-weight: 500;
}


.main-title .title-description {
    font-weight: 300;
    width: 75%;
}

.title-splitter {
    width: 300px; 
    margin: 0 auto;
}

@media (max-width: 1400px) {
    .main-title .title-name {
        font-size: 40px; /* Set a smaller font size for very small screens */
    }

    .title-splitter {
        width: 150px; 
    }
}

@media (max-width: 555px) {
    .title-splitter {
        display: none;
    }
}

.personal-links {
    list-style: none;
}

.personal-links-container ul {
    padding: 0 !important;
}

.personal-links i {
    font-size: 40px;
    color: black;
    padding: 0 !important;
    transition: color 0.3s ease;
}

.personal-links i#kaggle-icon {
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 10px 14px !important;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    transition: background-color 0.3s ease;
}

.personal-links i:hover {
    color: var(--color-001);
}

.personal-links i#kaggle-icon:hover {
    background-color: var(--color-001);
}


/* ABOUT SECTION */
/* 
.about-section {
    background-image: url("../public/imgs/space-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} */

.about-me h1 {
    font-size: 30px;
    font-weight: 700;
}

.about-me img {
    height: auto;
    max-width: 100%;
}

.about-splitter {
    width: 200px;
}

.about-main-text {
    font-weight: 300;
}

.about-links {
    list-style: none;
    padding-left: 0px;
    gap: 10px;
}

.about-link-button {
    margin-top: 10px;
    margin-left: 0px;
    padding: 8px 15px;
    border: solid 1px;
    border-radius: 8px;
    color: black;
}

.about-link-button:hover {
    color: var(--color-001);
    transition: color 0.3s ease-in-out;
}

/* PORTFOLIO */

.portfolio-splitter {
    width: 200px;
    margin: 0 auto;
}

.project-item img {
    max-width: 100%;
    height: auto;
}

#fraud-img {
    max-width: auto;
    height: auto;
    padding: 15px;
    box-shadow: var(--item-shadow);
}

#ticket-img {
    padding: 50px 0px;
    box-shadow: var(--item-shadow);
}

#emission-img {
    height: auto;
    padding: 20px;
    box-shadow: var(--item-shadow);
}

#skip-gram-img {
    padding: 10px;
    box-shadow: var(--item-shadow);
}

.project-item p {
    font-weight: 300;
}

.project-info-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

.project-info-list span {
    font-weight: 500;
}

.project-links {
    margin-top: 30px;
    display: flex;
    gap: 30px;
}

.project-links i {
    color: black;
    font-size: 30px;
}

.project-links i:hover {
    color: var(--color-001);
    font-size: 30px;
    transition: color 0.3s ease-in-out;
}


/* FOOTER SECTION */

.contact-container {
    height: 100% !important;
}

.footer-class {
    background-color: rgb(20, 5, 37);
}

.footer-text {
    color: rgba(197, 199, 201, 0.757);
    font-weight: 300;
    text-align: justify;
    text-justify: inter-word;
}

.footer-class .personal-links i {
    color: white;
    transition: color 0.3s ease;
}

.footer-class .personal-links i#kaggle-icon {
    color: black;
    background-color: white;
    font-weight: 1000;
    transition: background-color 0.3s ease;
}

.footer-class .personal-links i:hover {
    color: var(--color-001);
}

.footer-class .personal-links i#kaggle-icon:hover {
    background-color: var(--color-001);
}

.footer-title {
    color: white;
}

.contact-container p {
    width: 80%;
}

#gitlink {
    color: var(--color-003);
}